/* styles for injected html */

.post a {
  color: #805ad5;
  cursor: pointer;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  outline: none;
}
.post a:hover {
  opacity: 0.8;
}
.post blockquote {
  background: #e9d8fd;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #553c9a;
}
.post h2 {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid #e9d8fd;
  padding-bottom: 0.3rem;
  text-align: center;
}
p + h2 {
  margin-top: 2rem;
}
.post ol,
.post ul {
  margin: 0;
  padding: 0;
}
.post ul {
  list-style-type: disc;
  list-style-position: inside;
}

.post img {
  margin: 0.5rem auto;
}

em {
  background: #edf2f7;
}
